body{
    font-size: 1vw;
    background-color: rgb(32, 31, 31);
    color: white;
}
#background{
   position: relative;
    max-width: 1600px; 
    background-color:rgb(55, 55, 55);
    border-style:outset;
    border-color: cyan;
    border-radius: 50px;
    border-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:5vw;
    padding: 20px 20px 30px 30px;
    
}
#intro{
    position: relative;
    padding: none;
    margin-left: 1vw;
    margin-top: 1vw;
}
h1{
    position: relative;
    text-align: center;
    border-color: rgba(10, 238, 10, 0.834);
    border-style:double;
    border-radius: 20px;
    width: 33vw;
    margin-left: 11vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    position: relative;
    display:block;
    margin-left: 18vw;
    background-color: blueviolet;
    border-style:ridge;
    border-radius: 20px;
    width: 20vw;
    text-align: center;
}
h3 {
    display: block;
    width: 860px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(13, 228, 232, 0.519);
    color:lightyellow;
    border-radius: 20px 70px 20px 0px;
    padding: 15px 15px 15px 15px;
    margin-left: 50px;
    margin-right: auto;
}
#picture{   
    position: relative;
    float: right;
    padding-left: 20px;
    padding-top: 60px;
    margin-right: 100px;
}
#projects{
    margin-top: 80px;
}
li{
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    margin-top: 80px;
}
a:link{
    color: cyan;
}
a:visited{
    color: violet;
}
a:hover{
    color: lightgreen;
}
a:active{
    color: rgba(10, 238, 10, 0.834);
}